## Intro to variables of dataset (need change i just copied)

1. Age - Numerical - Days
2. Height - Numerical - Cm
3. Weight - Numerical - Kg
4. Gender - Categorical - 1/0
5. Systolic Blood Pressure (ap_hi) - Numerical - mmHg
6. Systolic Blood Pressure (ap_lo) - Numerical - mmHg
7. Cholesterol - Categorical - 1-3
8. Glucose - Categorical - 1-3
9. Smoke - Categorical - 1/0
10. Alcohol Intake - Categorical - 1/0
11. Physical Activity - Categorical - 1/0
12. Cardio - Categorical - 1/0

In [4]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [5]:
cardioData = pd.read_csv('cardio_train.csv',delimiter=';')
cardioData.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [6]:
cardioData.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
cardioData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

There is a total of 70000 rows of data with 12 columns

## CLEAN DATA

##### check if there are any missing values per column

In [8]:
print(cardioData.isnull().sum())

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

Number Of Missing Data : 0

##### check for any outliers in dataset

In [9]:
print(cardioData[['height', 'weight']].describe())

             height        weight
count  70000.000000  70000.000000
mean     164.359229     74.205690
std        8.210126     14.395757
min       55.000000     10.000000
25%      159.000000     65.000000
50%      165.000000     72.000000
75%      170.000000     82.000000
max      250.000000    200.000000

In [10]:
outliers = cardioData[(cardioData['height'] > 200) | (cardioData['weight'] > 200)]
print(outliers)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
6486    9223  21220       1     250    86.0    140    100            3     1
21628  30894  19054       2     207    78.0    100     70            1     1

       smoke  alco  active  cardio
6486       0     0       1       1
21628      0     1       1       0

Found 2 unrealistic heights from the data, need to remove from data

In [11]:
#removal of the 2 weird data
df_cleaned = cardioData.drop([6486, 21628])

In [12]:
#checking if outlier got removed
outliers = df_cleaned[(df_cleaned['height'] > 200) | (df_cleaned['weight'] > 200)]
print(outliers)

Empty DataFrame
Columns: [id, age, gender, height, weight, ap_hi, ap_lo, cholesterol, gluc, smoke, alco, active, cardio]
Index: []

Removed outlier successfully

##### To understand the data better, we want to convert the age data from days to years.

In [13]:
#check the data format for age
print(cardioData['age'].head())

0    18393
1    20228
2    18857
3    17623
4    17474
Name: age, dtype: int64

In [14]:
# create function to convert days to years
def days_to_years(days):
    days_per_year = 365.25
    return days / days_per_year

# apply function to the 'age' column
cardioData['age'] = cardioData['age'].apply(days_to_years)

# round age to nearest interger
cardioData['age'] = cardioData['age'].round().astype(int)

#check if age data updated
print(cardioData.head())

   id  age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  \
0   0   50       2     168    62.0    110     80            1     1      0
1   1   55       1     156    85.0    140     90            3     1      0
2   2   52       1     165    64.0    130     70            3     1      0
3   3   48       2     169    82.0    150    100            1     1      0
4   4   48       1     156    56.0    100     60            1     1      0

   alco  active  cardio
0     0       1       0
1     0       1       1
2     0       0       1
3     0       1       1
4     0       0       0

#### Rename data so its easier to read on the table

In [15]:
df_cleaned = cardioData.copy()
df_cleaned.rename(columns = {'ap_hi': 'Systolic_BP'}, inplace = True)
df_cleaned.rename(columns = {'ap_lo': 'Diastolic_BP'}, inplace = True)
df_cleaned.rename(columns = {'gluc': 'Glucose'}, inplace = True)
df_cleaned.rename(columns = {'alco': 'Alcohol'}, inplace = True)
df_cleaned.rename(columns = {'cardio': 'Cardio_Patient'}, inplace = True)
df_cleaned.columns = df_cleaned.columns.str.upper()


# Dropping unneeded ID column
if 'id' in cardioData.columns:
    cardioData.drop("id", axis=1, inplace=True)
else:
    print("Column 'id' does not exist in the DataFrame.")


print(df_cleaned.head(30))

    ID  AGE  GENDER  HEIGHT  WEIGHT  SYSTOLIC_BP  DIASTOLIC_BP  CHOLESTEROL  \
0    0   50       2     168    62.0          110            80            1
1    1   55       1     156    85.0          140            90            3
2    2   52       1     165    64.0          130            70            3
3    3   48       2     169    82.0          150           100            1
4    4   48       1     156    56.0          100            60            1
5    8   60       1     151    67.0          120            80            2
6    9   61       1     157    93.0          130            80            3
7   12   62       2     178    95.0          130            90            3
8   13   48       1     158    71.0          110            70            1
9   14   54       1     164    68.0          110            60            1
10  15   62       1     169    80.0          120            80            1
11  16   52       2     173    60.0          120            80            1
12  18   40       2     165    60.0          120            80            1
13  21   54       1     158    78.0          110            70            1
14  23   40       2     181    95.0          130            90            1
15  24   46       2     172   112.0          120            80            1
16  25   58       1     170    75.0          130            70            1
17  27   46       1     158    52.0          110            70            1
18  28   48       1     154    68.0          100            70            1
19  29   60       2     162    56.0          120            70            1
20  30   54       2     163    83.0          120            80            1
21  31   59       1     157    69.0          130            80            1
22  32   63       1     158    90.0          145            85            2
23  33   64       2     156    45.0          110            60            1
24  35   45       1     170    68.0          150            90            3
25  36   40       1     153    65.0          130           100            2
26  37   54       1     156    59.0          130            90            1
27  38   50       1     159    78.0          120            80            1
28  39   40       2     166    66.0          120            80            1
29  40   58       2     169    74.0          130            70            1

    GLUCOSE  SMOKE  ALCOHOL  ACTIVE  CARDIO_PATIENT
0         1      0        0       1               0
1         1      0        0       1               1
2         1      0        0       0               1
3         1      0        0       1               1
4         1      0        0       0               0
5         2      0        0       0               0
6         1      0        0       1               0
7         3      0        0       1               1
8         1      0        0       1               0
9         1      0        0       0               0
10        1      0        0       1               0
11        1      0        0       1               0
12        1      0        0       0               0
13        1      0        0       1               0
14        1      1        1       1               0
15        1      0        0       0               1
16        1      0        0       0               0
17        3      0        0       1               0
18        1      0        0       0               0
19        1      1        0       1               0
20        1      0        0       1               0
21        1      0        0       1               0
22        2      0        0       1               1
23        1      0        0       1               0
24        1      0        0       1               1
25        1      0        0       1               0
26        1      0        0       1               0
27        1      0        0       1               0
28        1      0        0       1               0
29        3      0        0       0               0

In [16]:
# Check the unique values and their counts in the 'gender' column
print(df_cleaned['GENDER'].value_counts())

GENDER
1    45530
2    24470
Name: count, dtype: int64

In [17]:
duplicates = df_cleaned.columns[df_cleaned.columns.duplicated()].tolist()
print("Duplicated columns:", duplicates)
df_cleaned = df_cleaned.loc[:, ~df_cleaned.columns.duplicated()]

Duplicated columns: []

#### CATERGORISING BMI

In [18]:
# Calculate BMI
df_cleaned['BMI'] = df_cleaned['WEIGHT'] / ((df_cleaned['HEIGHT'] / 100) ** 2)

# Define BMI bins and labels
bmi_bins = [0, 18.5, 24.9, 29.9, float('inf')]
bmi_labels = ['Underweight', 'Normal weight', 'Overweight', 'Obesity']

# Categorize BMI
df_cleaned['BMI_Category'] = pd.cut(df_cleaned['BMI'], bins=bmi_bins, labels=bmi_labels, right=False)

# Reorder columns to place 'age', 'gender', 'weight', 'height', 'BMI' and 'BMI_Category' in front
columns_order = ['AGE', 'GENDER', 'WEIGHT', 'HEIGHT', 'BMI', 'BMI_Category'] + [col for col in df_cleaned.columns if col not in ['AGE', 'GENDER', 'WEIGHT', 'HEIGHT', 'BMI', 'BMI_Category']]
df_cleaned = df_cleaned[columns_order]

# Display the DataFrame with the new BMI and BMI Category columns
print(df_cleaned)

       AGE  GENDER  WEIGHT  HEIGHT        BMI   BMI_Category     ID  \
0       50       2    62.0     168  21.967120  Normal weight      0
1       55       1    85.0     156  34.927679        Obesity      1
2       52       1    64.0     165  23.507805  Normal weight      2
3       48       2    82.0     169  28.710479     Overweight      3
4       48       1    56.0     156  23.011177  Normal weight      4
...    ...     ...     ...     ...        ...            ...    ...
69995   53       2    76.0     168  26.927438     Overweight  99993
69996   62       1   126.0     158  50.472681        Obesity  99995
69997   52       2   105.0     183  31.353579        Obesity  99996
69998   61       1    72.0     163  27.099251     Overweight  99998
69999   56       1    72.0     170  24.913495     Overweight  99999

       SYSTOLIC_BP  DIASTOLIC_BP  CHOLESTEROL  GLUCOSE  SMOKE  ALCOHOL  \
0              110            80            1        1      0        0
1              140            90            3        1      0        0
2              130            70            3        1      0        0
3              150           100            1        1      0        0
4              100            60            1        1      0        0
...            ...           ...          ...      ...    ...      ...
69995          120            80            1        1      1        0
69996          140            90            2        2      0        0
69997          180            90            3        1      0        1
69998          135            80            1        2      0        0
69999          120            80            2        1      0        0

       ACTIVE  CARDIO_PATIENT
0           1               0
1           1               1
2           0               1
3           1               1
4           0               0
...       ...             ...
69995       1               0
69996       1               1
69997       0               1
69998       0               1
69999       1               0

[70000 rows x 15 columns]

#### CATEGORISING BP LEVELS

In [19]:
# Function to categorize blood pressure
def categorize_blood_pressure(row):
    systolic = row['SYSTOLIC_BP']
    diastolic = row['DIASTOLIC_BP']
    
    
    if systolic >= 180 or diastolic >= 120:
        return 'Hypertensive Crisis'
    elif systolic >= 140 or diastolic >= 90:
        return 'Hypertension Stage 2'
    elif 130 <= systolic <= 139 or 80 <= diastolic <= 89:
        return 'Hypertension Stage 1'
    elif 120 <= systolic <= 129 and diastolic < 80:
        return 'Elevated'
    elif systolic < 120 and diastolic < 80:
        return 'Normal'
    else:
        return 'Unknown'  # Catch-all for unexpected values
# Apply the function to each row in the DataFrame
df_cleaned['BP_Category'] = df_cleaned.apply(categorize_blood_pressure, axis=1)

# Display the DataFrame with the new BP_Category column
print(df_cleaned.head(20))

    AGE  GENDER  WEIGHT  HEIGHT        BMI   BMI_Category  ID  SYSTOLIC_BP  \
0    50       2    62.0     168  21.967120  Normal weight   0          110
1    55       1    85.0     156  34.927679        Obesity   1          140
2    52       1    64.0     165  23.507805  Normal weight   2          130
3    48       2    82.0     169  28.710479     Overweight   3          150
4    48       1    56.0     156  23.011177  Normal weight   4          100
5    60       1    67.0     151  29.384676     Overweight   8          120
6    61       1    93.0     157  37.729725        Obesity   9          130
7    62       2    95.0     178  29.983588        Obesity  12          130
8    48       1    71.0     158  28.440955     Overweight  13          110
9    54       1    68.0     164  25.282570     Overweight  14          110
10   62       1    80.0     169  28.010224     Overweight  15          120
11   52       2    60.0     173  20.047446  Normal weight  16          120
12   40       2    60.0     165  22.038567  Normal weight  18          120
13   54       1    78.0     158  31.244993        Obesity  21          110
14   40       2    95.0     181  28.997894     Overweight  23          130
15   46       2   112.0     172  37.858302        Obesity  24          120
16   58       1    75.0     170  25.951557     Overweight  25          130
17   46       1    52.0     158  20.829995  Normal weight  27          110
18   48       1    68.0     154  28.672626     Overweight  28          100
19   60       2    56.0     162  21.338211  Normal weight  29          120

    DIASTOLIC_BP  CHOLESTEROL  GLUCOSE  SMOKE  ALCOHOL  ACTIVE  \
0             80            1        1      0        0       1
1             90            3        1      0        0       1
2             70            3        1      0        0       0
3            100            1        1      0        0       1
4             60            1        1      0        0       0
5             80            2        2      0        0       0
6             80            3        1      0        0       1
7             90            3        3      0        0       1
8             70            1        1      0        0       1
9             60            1        1      0        0       0
10            80            1        1      0        0       1
11            80            1        1      0        0       1
12            80            1        1      0        0       0
13            70            1        1      0        0       1
14            90            1        1      1        1       1
15            80            1        1      0        0       0
16            70            1        1      0        0       0
17            70            1        3      0        0       1
18            70            1        1      0        0       0
19            70            1        1      1        0       1

    CARDIO_PATIENT           BP_Category
0                0  Hypertension Stage 1
1                1  Hypertension Stage 2
2                1  Hypertension Stage 1
3                1  Hypertension Stage 2
4                0                Normal
5                0  Hypertension Stage 1
6                0  Hypertension Stage 1
7                1  Hypertension Stage 2
8                0                Normal
9                0                Normal
10               0  Hypertension Stage 1
11               0  Hypertension Stage 1
12               0  Hypertension Stage 1
13               0                Normal
14               0  Hypertension Stage 2
15               1  Hypertension Stage 1
16               0  Hypertension Stage 1
17               0                Normal
18               0                Normal
19               0              Elevated

#### MACHINE LEARNING MODELS

#### XGBoost

In [20]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV, train_test_split


def check(X_train_train, X_train_val, y_train_train, y_train_val):

    model = XGBClassifier(learning_rate=0.1, max_depth=5, n_estimators=100, random_state=42, colsample_bytree=0.8)

    # Fit the model to the training data
    model.fit(X_train_train, y_train_train)

    # Make predictions on the training and validation data
    y_train_pred = model.predict(X_train_train)
    y_val_pred = model.predict(X_train_val)

    # Calculate accuracy on the training and validation data
    train_acc = accuracy_score(y_train_train, y_train_pred)
    val_acc = accuracy_score(y_train_val, y_val_pred)

    # Return the accuracy scores
    return train_acc, val_acc

In [21]:
X_train, X_test, y_train, y_test = train_test_split(df_cleaned[['AGE', 'GENDER', 'CHOLESTEROL', 'GLUCOSE', 'SMOKE','ALCOHOL', 'ACTIVE', 'BMI']], df_cleaned['CARDIO_PATIENT'], test_size=0.2, random_state=69)
xgb = XGBClassifier(learning_rate=0.2, max_depth=4, n_estimators=50, random_state=42, colsample_bytree=0.8)
xgb.fit(X_train, y_train)

# Make predictions on the test set
y_pred = xgb.predict(X_test)

# Evaluate the performance of the XGBoost model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Define a parameter grid for the XGBoost model
# Including hyperparameters to increase the accuracy of the model, and to reduce overfitting
param_grid = {
    'learning_rate': [0.1, 0.2, 0.3, 0.4],
    'max_depth': [3, 4, 5],
    'n_estimators': [50, 100, 200]
}

# # Create an instance of the GridSearchCV class
grid_search = GridSearchCV(xgb, param_grid=param_grid, cv=3, scoring='accuracy')

# Fit the GridSearchCV instance to the training data
grid_search.fit(X_train, y_train)

# Print the best parameters and score
print("Best parameters:", grid_search.best_params_)
print("Best score:", grid_search.best_score_)

Accuracy: 0.6378571428571429
Best parameters: {'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 50}
Best score: 0.6473393371484563